# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class
*.so
*.o
*.log


# Pycharm
.idea/*

# results dir
.hydra
/results
/files
/test*

ez/wandb
ez/results

# c++/cython style external packages
ez/mcts/ctree/cytree.cpp
ez/mcts/ctree_v2/cytree.cpp
ez/mcts/ori_ctree/cytree.cpp